<launch>
<!-- Vehicle's initial position -->
  <arg name="x" default="-6"/>
  <arg name="y" default="20"/>
  <arg name="z" default="-95"/>
  <arg name="yaw" default="0"/>
<!-- Simulation env parameters -->
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="set_timeout" default="false"/>
  <arg name="timeout" default="0.0"/>

  <include file="$(find auv_rl_gazebo)/launch/auv_rl_env.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="set_timeout" value="$(arg set_timeout)"/>
    <arg name="timeout" value="$(arg timeout)"/>
  </include>    

  <include file="$(find desistek_saga_description)/launch/upload_desistek_saga.launch">
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include>
<!-- launch the controller -->
</launch>
